@use "./variables" as *;
@use "./mixins" as *;

*,
**::before,
**::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: $light-blue;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  @include font-bold;
  // color: $navy-blue;
}

h2 {
  @include font-semibold;
  color: $medium-dark-blue;
}

h3 {
  @include font-semibold;
  color: $dark-blue;
}

p {
  @include font-regular;
  color: $navy-blue;
}

a {
  @include font-semibold;
  color: $medium-dark-blue;
}
