// Dark mode
$darkmode: (
  white-blue: #d5f0ff,
  // A muted, darker shade of blue
  light-blue: #1d2e4c,
  // A deep, nighttime blue
  medium-blue: #18223a,
  // A very dark blue, almost black
  medium-dark-blue: #5b4899,
  // A dark shade of purple-blue
  dark-blue: #2c365f,
  // A dark, desaturated blue
);

// Light mode
$lightmode: (
  white-blue: #d5f0ff,
  light-blue: #99c7ff,
  medium-blue: #5d9eff,
  medium-dark-blue: #3a75cc,
  dark-blue: #174a99,
);

//  breakpoints
$mobile-breakpoint: 30rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$large-desktop-breakpoint: 120rem;
