// Dark mode
$darkmode: (
  white-blue: #6d8a94,
  light-blue: #2d5471,
  medium-blue: #1a3b56,
  medium-dark-blue: #3f6b9a,
  dark-blue: #5c8db5,
);

// Light mode
$lightmode: (
  white-blue: #d5f0ff,
  light-blue: #99c7ff,
  medium-blue: #5d9eff,
  medium-dark-blue: #3a75cc,
  dark-blue: #174a99,
);

//  breakpoints
$mobile-breakpoint: 30rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$large-desktop-breakpoint: 120rem;


