// COLORS
$white-blue: #e6eaff;
$light-blue: #8e98e6;
$medium-blue: #485ae0;
$medium-dark-blue: #3745ad;
$dark-blue: #1f2761;

//  breakpoints
$mobile-breakpoint: 30rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$large-desktop-breakpoint: 120rem;
