@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.canvas-container {
  width: 100%;
  height: 50vh;

  @include tablet {
    height: 100vh;
  }

  @include desktop {
    height: 100%;
  }
}
