@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  opacity: 0.95;

  z-index: 9999999;

  // @include desktop {
  //   height: 100vh;
  // }
}

.CloudContainer {
  display: flex;
  align-items: flex-end; // Align the SVG to the bottom
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 10000000;
  pointer-events: none;

  img {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.container {
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  border-radius: 1rem;

  padding: 2rem;
  // add a subtle box shadow
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  @include desktop {
    padding: 3rem;
    margin: 0rem 5rem;
    flex-basis: 40%;
  }

  &__title {
    color: $dark-blue;
  }

  &__text {
    color: $dark-blue;
  }

  &__buttonBLock {
    margin-top: 2rem;
    display: block;
    width: 15rem;
    height: 3.5rem;
    position: relative;
    background-color: #1f2761;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #1f2761 3px;
    position: relative;
    bottom: 4rem;
    margin-bottom: -4rem;
    right: 0.5rem;
    color: #1f2761;
    background-color: white;
    text-decoration: none;
    text-align: center;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.2rem;
    transition: 0.1s;

    &:hover {
      transform: translate(0.5rem, 0.5rem);
    }
  }
}

.image-container {
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    padding: 2rem;
    margin-bottom: 10rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &__block {
    border-radius: 1rem;
  }

  &__image {
    border-radius: 1rem;
    background: rgba(142, 152, 230, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &__hover-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.5rem;
    width: 100%;
  }
}

.body-section {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  position: relative;
  background-color: #1f2761;
  // justify-content: center;
  // align-items: center;
  font-size: 1rem;
  @include desktop {
    padding-top: 0rem;
    flex-direction: row;
  }

  &__text-block {
    padding: 1rem;

    @include desktop {
      display: flex;
      // align-items: flex-start;
      flex-direction: column;
      padding: 0rem 0rem 0rem 0rem;
      // flex-basis: 45%;
    }
  }

  &__title {
    color: $white-blue;
    font-size: 2rem;
    @include desktop {
      font-size: 4rem;
      transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
      box-shadow: inset 0 0 0 0 $dark-blue;
      &:hover {
        box-shadow: inset 800px 0 0 0 $white-blue;
        color: $dark-blue;
      }
    }
  }

  &__text {
    color: #e6eaff;
    line-height: 2rem;
    font-size: 1rem;
    text-align: justify;
    @include desktop {
      font-size: 1.5rem;

      text-align: justify;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 0rem 2rem;
    }
  }
}

.resume-section {
  background-color: $medium-dark-blue;
  padding: 2rem 1rem 5rem 1rem;

  @include desktop {
    padding: 4rem;
  }

  &__title {
    font-size: 2rem;
    color: #1f2761;
    @include desktop {
      font-size: 4rem;

      box-shadow: inset 0 0 0 0 $dark-blue;

      margin: 0 -0.25rem;
      padding: 0 0.25rem;
      transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;

      &:hover {
        box-shadow: inset 800px 0 0 0 $white-blue;
        color: $dark-blue;
      }
    }
  }

  &__block {
    border: 1px solid $white-blue;
    padding: 1rem;
    margin: 1rem 0rem;

    box-shadow: 0.5rem 0.5rem 0rem $light-blue;
    @include desktop {
      margin: 1rem;
      padding: 1rem 2rem;
      flex-basis: 50%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &__header {
    font-size: 2rem;
    color: $white-blue;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;

    &:hover {
      box-shadow: inset 800px 0 0 0 $white-blue;
      color: $dark-blue;
    }
  }

  &__text {
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-character;
    color: $white-blue;
    line-height: 2rem;

    @include desktop {
      font-size: 1.5rem;

      text-align: justify;
    }
  }

  &__button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid $white-blue 3px;
    position: relative;
    bottom: 4rem;
    margin-bottom: -4rem;
    right: 0.5rem;
    color: $white-blue;
    background-color: $medium-dark-blue;
    text-decoration: none;
    text-align: center;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.2rem;
    transition: 0.1s;

    &:hover {
      transform: translate(0.5rem, 0.5rem);
    }
  }

  &__button-shadow {
    margin-top: 2rem;
    display: block;
    width: 15rem;
    height: 3.5rem;
    position: relative;
    background-color: $white-blue;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white-blue;
  padding: 2rem;
  overflow: hidden;
  @include desktop {
    padding: 10rem 5rem 5rem 5rem;
  }

  &__header {
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    font-size: 2rem;
    @include font-bold;

    @include desktop {
      top: 12rem;
      line-height: 3rem;
      margin-top: -12rem;
      width: 70%;
      text-align: center;
    }
  }

  &__circle {
    background-color: white;
    border-radius: 50%;
    width: 50rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop {
      width: 50rem;
      height: 50rem;
    }
  }
}

@include tablet {
  .section {
    height: 100vh;
  }

  .container {
    padding: 2.5rem;
    margin: 0rem 3rem;
    flex-basis: 45%;
  }

  .image-container {
    padding: 2rem;
    margin-bottom: 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .body-section {
    // padding-top: 2rem;

    &__text-block {
      display: flex;
      flex-direction: column;
      // padding: 0rem 2rem 2rem 2rem;
      flex-basis: 45%;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__group {
      justify-content: space-around;
      align-items: center;
      padding: 0rem 1rem;
    }
  }

  .resume-section {
    padding: 3rem;

    &__block {
      margin: 1rem;
      padding: 1rem 1.5rem;
    }

    &__container {
      // flex-direction: column;
    }

    &__text {
      font-size: 1.2rem;
    }
  }

  .contact-section {
    padding: 6rem 3rem 3rem 3rem;

    &__header {
      top: 8rem;
      line-height: 2.5rem;
      margin-top: -8rem;
      width: 80%;
      text-align: center;
    }
  }
}
