@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;



.SocialMediaLogo {
  padding: 0rem 1rem;
}

.SocialMediaHoverCardContent {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
}


.SocialMediaTitle {
  @include font-bold;
  padding-bottom: 0.5rem;
}

.SocialMediaHandle {
  transition: all ease-in-out 0.5s;

  &:hover {
    color: $dark-blue;
  }
}

.SocialMediaDescription {
  padding: 1rem 0rem;
}

