@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.SocialMediaLogo {
  padding: 0rem 1rem;
  width: 70px; // Reduce the size of the social media logo
  height: 70px; // Reduce the size of the social media logo
  transition: transform 0.3s; // Add a smoother transition for hover effect

  &:hover {
    transform: scale(1.1); // Create a grow on hover animation
  }
}

.SocialMediaHoverCardContent {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add a subtle box-shadow for depth
}

.SocialMediaTitle {
  @include font-bold;
  padding-bottom: 0.5rem;
}

.SocialMediaHandle {
  display: block; // Add space between handle and description
  transition: all ease-in-out 0.5s;

  &:hover {
    color: $dark-blue;
  }
}

.SocialMediaDescription {
  padding: 1rem 0rem;
}

@include tablet {
  .SocialMediaLogo {
    padding: 0rem 1.5rem;
  }

  .SocialMediaHoverCardContent {
    padding: 1.5rem;
  }

  .SocialMediaTitle {
    font-size: 1.2rem;
  }

  .SocialMediaHandle {
    font-size: 1.1rem;
  }

  .SocialMediaDescription {
    padding: 1.5rem 0rem;
  }
}
