@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.LogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SocialMediaLogo {
  padding: 1rem;
  transition: transform 0.3s; // Add a smoother transition for hover effect

  &:hover {
    transform: scale(1.1); // Create a grow on hover animation
  }
}

.SocialMediaHoverCardContent {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.SocialMediaHoverCardContent:hover {
  background-color: rgba(142, 152, 230, 1);
}

.SocialMediaTitle {
  @include font-bold;
  padding-bottom: 0.5rem;
}

.SocialMediaHandle {
  transition: all ease-in-out 0.5s;

  &:hover {
    color: $dark-blue;
  }
}

.SocialMediaDescription {
  padding: 1rem 0rem;
}

.SocialMediaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SocialMediaFollowers {
  display: flex;
  align-items: center;
}

.SocialMediaFollowerIcon {
  margin-right: 0.5rem;
}

@include tablet {
  .SocialMediaLogo {
    padding: 0rem 1.5rem;
  }

  .SocialMediaHoverCardContent {
    padding: 1.5rem;
  }

  .SocialMediaTitle {
    font-size: 1.2rem;
  }

  .SocialMediaHandle {
    font-size: 1.1rem;
  }

  .SocialMediaDescription {
    padding: 1.5rem 0rem;
  }
}
