@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  &__label {
    padding: 1rem 0rem;
  }

  &__input {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: $white-blue;
    filter: drop-shadow(0.5rem 0.5rem 0rem $dark-blue);
    width: 20rem;
  }

  &__button {
    background-color: $dark-blue;
    color: $white-blue;
    margin: 1rem;
    padding: 1rem 2rem;

    width: 22rem;

    border-radius: 0.5rem;
  }
}
