@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  &__label {
    padding: 1rem 0rem;
    @include gthemed() {
      color: map-get($theme-map, "contact-form-text");
    }
  }

  &__input {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    @include gthemed() {
      background-color: map-get($theme-map, "contact-form-text");
      filter: drop-shadow(
        0.5rem 0.5rem 0rem map-get($theme-map, "medium-blue")
      );
      border: 1px solid map-get($theme-map, "medium-blue");
    }
    width: 20rem;
  }

  &__textarea {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    @include gthemed() {
      background-color: map-get($theme-map, "contact-form-text");
      filter: drop-shadow(
        0.5rem 0.5rem 0rem map-get($theme-map, "medium-blue")
      );
      border: 1px solid map-get($theme-map, "medium-blue");
    }
    width: 20rem;

    resize: none;
    overflow: auto;
    outline: none;
    padding-bottom: 2rem;
  }

  &__buttonBlock {
    margin-top: 2rem;
    display: block;
    width: 15rem;
    height: 3.5rem;
    position: relative;
    @include gthemed() {
      background-color: map-get($theme-map, "header");
    }
  }

  &__button {
    @include gthemed() {
      border: solid 3px map-get($theme-map, "header");
      color: map-get($theme-map, "contact-form-text");
      background-color: map-get($theme-map, "medium-blue");
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4rem;
    margin-bottom: -4rem;
    right: 0.5rem;

    text-decoration: none;
    text-align: center;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.2rem;
    transition: 0.1s;

    &:hover {
      transform: translate(0.5rem, 0.5rem);
    }
  }

  &__success {
    width: 40%;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    @include font-bold;

    @include desktop {
      font-size: 1.5rem;
    }
  }

  @include tablet {
    &__input,
    &__textarea {
      width: 25rem;
    }
  }
}
