@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  @include gthemed() {
    background-color: map-get($theme-map, "header");
  }
  position: relative;
  height: auto;

  @include desktop {
    justify-content: flex-end;
    padding: 3rem;
  }
}

.navItem {
  list-style: none;
  padding: 0rem 1rem;
}

.navLink {
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    @include gthemed() {
      color: map-get($theme-map, "text");
    }
  }
}

.imageContainer {
  display: flex;
  align-items: flex-end; // Align the SVG to the bottom
  width: 100%;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10000000;
  pointer-events: none;

  img {
    width: 100%;
    height: auto;
    pointer-events: none;
  }
}
