@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.nav {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;

  position: relative;
  height: auto;
  @include gthemed() {
    background-color: map-get($theme-map, "header");
  }

  @include desktop {
    justify-content: end;
    padding: 3rem;
  }
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0rem;
}

.navItem {
  list-style: none;
  padding: 0.5rem;
  font-size: 1rem;

  @include tablet {
    flex-grow: 0;
  }

  &__toggle {
    justify-content: end;

    @include tablet {
      flex-grow: 4;
    }
  }
}

.navLink {
  text-decoration: none;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    @include gthemed() {
      color: map-get($theme-map, "text");
    }
  }
}

.imageContainer {
  display: flex;
  align-items: flex-end; // Align the SVG to the bottom
  width: 100%;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10000000;
  pointer-events: none;

  img {
    width: 100%;
    height: auto;
    pointer-events: none;
  }
}
