@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  @include desktop {
    justify-content: flex-end;
    padding: 1rem;
  }
}

.navItem {
  list-style: none;
  padding: 0rem 1rem;
}

.navLink {
  text-decoration: none;
  font-size: 1.25rem;

  // add a subtle on hover animotion
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $dark-blue;
  }
}
